html{
    background-color: #AF7AC5;
    font-family: 'Roboto', sans-serif;
    box-sizing: border-box;
}

.main{
    display: flex;
    background-image: url("wallpaper.jpg");
    background-repeat: no-repeat;
    background-size: cover;
    height: 900px; width: 450px;
    margin: auto; margin-top: 30px;
    flex-direction: column;
}

.table{
    display: flex;
    align-items: center;
    flex-direction: column;
    margin-bottom: 20px;
}

.header{
    padding: 10px;
    display: flex;
    color: aliceblue;
}

.words{
    display: flex;
    flex-direction: column;
    
}

.row{
    display: flex;
    justify-content: space-around;
}

.row div{
    display: flex;
    visibility: hidden;
    margin: 5px;
    height: 50px; width: 50px;
    background-color: #AF7AC5;
    font-size: 30px;
    align-items: center;
    justify-content: center;
    border-radius: 3px;
    content-visibility: hidden;
}

.letter :first-child{
    height: 60px;
}

.widget{
    position:relative;
    display: flex;
    height: 350px; width: 350px;
    margin: auto; margin-top: 40px;
    border-radius: 50%;
    background-color: #AF7AC5;
    padding: 0px;
}

.widget div{
    position: absolute;
    display: flex;
    margin: 0px;
    height: 60px; width: 60px;
    border-radius: 50%;
    font-size: 40px;
    align-items: center; justify-content: center;
    font-weight: bold;
    cursor :pointer;
    user-select: none;
}
.widget #shuffle{
    position: absolute;
    left:145px; bottom: 145px;
    background-color: white;
    
}

.top{
    display: flex;
    position: relative;
    height: 60px; width: 90%;
    flex-direction: row;
    margin: 20px auto 20px auto;
    align-items: center; justify-content: center;
}


.word {
    display: flex;
    height: 60px; width: fit-content;
    margin: 20px auto;
    justify-content: center; align-items: center;
    padding: 10px 30px;
    font-size: 40px;
    border-radius: 60px;
    visibility: hidden;
    background-color: #AF7AC5;
}

#hint{
    position: absolute;
    display: flex;
    left: 350px;
    margin: 0px;
    height: 50px; width: 50px;
    border-radius: 50%;
    font-size: 40px;
    align-items: center; justify-content: center;
    font-weight: bold;
    cursor :pointer;
    user-select: none;
    background-color: #AF7AC5;
    transition: background-color 1s ease;
    transition: color 1s ease;
}
#hint:hover{
    transition: background-color 1s ease;
    transition: color 1s ease;
    background-color: black;
    color: white;
}
#hint div{
    display: flex;
    width :20px ;height: 30px;
    font-size: 30px;
}