html{
    background-color: #AF7AC5;
    font-family: 'Roboto', sans-serif;
    box-sizing: border-box;
}

.main{
    display: flex;
    background-image: url("wallpaper.jpg");
    background-repeat: no-repeat;
    background-size: cover;
    height: 900px; width: 450px;
    margin: auto; margin-top: 30px;
    flex-direction: column;
}

.table{
    display: flex;
    align-items: center;
    flex-direction: column;
}

.header{
    padding: 10px;
    display: flex;
    color: aliceblue;
}

.words{
    display: flex;
    flex-direction: column;
    
}

.row{
    display: flex;
    justify-content: space-around;
}

.row div{
    display: flex;
    visibility: hidden;
    margin: 5px;
    height: 50px; width: 50px;
    background-color: #AF7AC5;
    font-size: 30px;
    align-items: center;
    justify-content: center;
    border-radius: 3px;
    content-visibility: hidden;
}

.letter :first-child{
    height: 60px;
}

.widget{
    position:relative;
    display: flex;
    height: 350px; width: 350px;
    margin: auto; margin-top: 20px;
    border-radius: 50%;
    background-color: #AF7AC5;
    padding: 0px;
}

.widget div{
    position: absolute;
    display: flex;
    margin: 0px;
    height: 60px; width: 60px;
    border-radius: 50%;
    font-size: 40px;
    align-items: center; justify-content: center;
    font-weight: bold;
    cursor :pointer;
    user-select: none;
}
.widget #shuffle{
    position: absolute;
    left:145px; bottom: 145px;
    background-color: aliceblue;
    
}

.word {
    display: flex;
    height: 60px; width: fit-content;
    margin: auto; margin-top: 30px;
    justify-content: center; align-items: center;
    padding: 10px 30px;
    font-size: 40px;
    border-radius: 60px;
    visibility: hidden;
    background-color: #AF7AC5;
}